@media only screen and (max-width: 700px){
    header{
        nav{
           .logo{
            margin-left: 10%;
           } 
        }
    }

    .first-section{
        div{
            width: 90% !important;
            
            h2{
                text-align: center;
            }

            p{
                font-size: 13px !important;
            }
        }
    }

    .second-section{
        gap: 3em;
        background-image: url(./media/alvia-screenshot.png);
        background-size: 60%;
        background-position: center;
        background-repeat: no-repeat;
        
        .child-two{
            display: none;
        }

        .child-one, .child-three{
            width: 40% !important;
            
            div{
                width: 100% !important;
            }

        }
    }

    .blue{
        div{
            width: 90% !important;
        }
    }
    
    .corevalues{
        .valueimage{
            display: none;
        }
    }
    
    .means-boxes{
        div{
            width: 60% !important;
        }
    }

    .facts-con{
        div{
            width: 50.1% !important;
            margin-top: 2em;
        }
    }

    .footprints-con{
        div{
            width: 40% !important;
            border: none !important;
            margin-bottom: 2em;
        }
    }

    .casestudies-con{
        div{
            width: 80% !important;
        }
    }

    .our-approach{
        p{
            margin: 0 2em !important;
        }
    }

    .with-you{
        div{
            width: 90% !important;
        }

        .withyouTxt{
            height: fit-content !important;

            h2{
                text-align: center;
            }
        }
    }
}

footer{
    
    .address-box{
        
        span{
            width: 89% !important;
            text-align: center;
        }
    }
}