@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Barriecito&family=Dancing+Script:wght@400..700&family=Emblema+One&family=Exo:ital,wght@0,100..900;1,100..900&family=Hachi+Maru+Pop&family=Kaushan+Script&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pinyon+Script&family=Sixtyfour+Convergence&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

header {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    background: linear-gradient(rgba(244, 165, 96, 0.338),rgba(244, 165, 96, 0));

    nav {
        height: 10em;
        width: 85%;
        background: none;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            height: 100%;
            width: 15%;
            /* background-color: lightgrey; */
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 250%;
            font-weight: 900;
            text-decoration: none;
            color: whitesmoke;
            text-shadow: 0 0 20px #00ade2;
            cursor: pointer;

        }

        .collapse {
            display: none;
        }

        i {
            text-shadow: 0 0 20px #00ade2;
        }
    }
}

.links-con {
    display: flex;
    justify-content: flex-end;
    /* background-color: forestgreen; */
    margin-top: 7em;
    position: fixed;
    top: 0;
    width: 100%;

    ul {
        width: fit-content;
        height: fit-content;
        background-color: whitesmoke;
        list-style: none;
        margin-right: 7.5%;
        border-radius: 0 0 7px 7px;
        box-shadow: 0 0 3px #00ade2;

        a {
            text-decoration: none;
            display: block;
            margin: 10px 1.5em;
            color: #00ade2;
            cursor: pointer;
        }
    }
}

button {
    cursor: pointer;
}

#collapse {
    display: none;
}

i {
    cursor: pointer;
}

main {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(to bottom right, white, #00ade2, white);
    background-image: url(./media/6.png);
    margin-top: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5em;

    .hero {
        height: 39.5em;
        width: 85%;
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;

        .hero-texts {
            height: fit-content;
            width: fit-content;
            /* background-color: #00ade2; */
            text-align: center;
            padding: 3em 2em;

            h1 {
                font-weight: 900;
                font-size: 300%;
                color: whitesmoke;
                animation-name: slideup;
                animation-duration: 3s;
            }
        }
    }
}

.first-section {
    height: fit-content;
    width: 100%;
    margin-top: 8em;
    /* background-color: aquamarine; */
    justify-content: center;
    gap: 1em;
    display: flex;
    flex-wrap: wrap;

    .about-img {
        height: 30em;
        width: 40%;
        background-color: aliceblue;
        background: url(./media/pexels-goumbik-669610.jpg);
        background-size: cover;
        background-position: center;
    }

    .about-txt {
        height: fit-content;
        width: 45%;
        /* background-color: bisque; */

        h2 {
            font-weight: 900;
            color: #00ade2;
            font-size: 2em;
            margin-bottom: 0.5em;
        }

        p {
            font-size: 0.9em;
            line-height: 1.5em;
            margin-bottom: 1em;
            color: rgb(35, 28, 28);
        }

        span {
            font-size: 12px;
            font-style: italic;
            background-color: aliceblue;
            display: block;
        }
    }
}

.second-section {
    height: fit-content;
    width: 100%;
    margin-top: 8em;
    /* background-color: lightgreen; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .child-one {
        height: 25em;
        width: 25%;
        /* background-color: orange; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 2.5em;

        div {
            height: fit-content;
            width: 80%;
            background-color: rgba(245, 245, 245, 0.765);
            text-align: right;
            padding: 3px 5px 3px 0;

            h4 {
                color: #00ade2;
                margin-bottom: 1em;
            }

            p {
                font-size: 85%;
            }
        }
    }

    .child-two {
        height: 25em;
        width: 40%;
        background-image: url(./media/alvia-screenshot.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .child-three {
        height: 25em;
        width: 25%;
        /* background-color: lavender; */

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2.5em;

        div {
            height: fit-content !important;
            width: 80%;
            background-color: rgba(245, 245, 245, 0.765);
            text-align: left;
            padding: 3px 0 3px 5px;

            h4 {
                color: #00ade2;
                margin-bottom: 1em;
            }

            p {
                font-size: 85%;
            }
        }
    }
}

.blue {
    height: fit-content;
    margin-top: 7em;
    width: 100%;
    background-color: #00ade2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    div {
        text-align: center;
        height: 25em;
        width: 45%;
        /* border: solid 1px whitesmoke; */
        /* background-color: orchid; */

        img {
            height: 8em;
            margin-top: 5em;
        }

        h4 {
            color: whitesmoke;
            font-weight: bold;
            margin-top: 2em;
            font-size: 130%;
        }

        p {
            margin: 1em 2em;
            color: whitesmoke;
        }
    }

    .blue2 {
        img {
            height: 10em;
            margin-top: 3em;
        }
    }
}

.corevalues {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5em;

    .valueimage {
        height: 15em;
        width: 20%;
        background-color: #00ade2;
        background: url(./media/values.jpg);
        background-size: cover;
        background-position: center;
        background-position-y: 30%;
    }

    .valuetext {
        height: fit-content;
        width: 70%;
        /* background-color: rgb(239, 223, 193); */

        h2 {
            color: #00ade2;
            font-weight: bold;
            margin-left: 1em;
            font-size: 1.8em;
        }

        ul {
            margin-left: 2em;
            margin-top: 1em;
            list-style: square;

            li {
                font-size: 14px;
                line-height: 1.5em;
                margin-bottom: 5px;

                span {
                    font-weight: bolder;
                    color: #00ade2;
                }
            }
        }
    }
}

.meanstoclient,
.facts,
.footprints,
.c-studiesHeading,
.approach {
    text-align: center;
    color: #00ade2;
    font-size: 1.8em;
    margin: 5em 0 1em;
}

.means-boxes {
    height: fit-content;
    margin-top: 5em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;

    div {
        height: fit-content;
        width: 17%;
        /* background-color: seashell; */
        text-align: center;
        margin-bottom: 1.5em;

        img {
            width: 60%;
            margin-top: 1em;
        }

        p {
            margin: 1em;
            line-height: 1.3em;
        }
    }
}

.facts-con {
    height: fit-content;
    width: 100%;
    /* background-color: aliceblue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5em;

    div {
        width: 20%;
        height: 15em;
        border-radius: 50%;
        text-align: center;

        img {
            width: 30%;
            margin-top: 1.5em;
        }

        h2 {
            font-size: 50px;
            margin-top: 0.3em;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                font-size: 35px;
            }
        }

        p {
            font-size: 20px;
        }
    }

    .one {
        border-top: solid 20px #00ade2;
    }

    .two {
        border-top: solid 20px #999;
    }

    .three {
        border-top: solid 20px #d01100;
    }

    .four {
        border-top: solid 20px #3fac03;
    }
}

.footprints-con {
    height: fit-content;
    width: 100%;
    /* background-color: aliceblue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5em 0 5em;

    div {
        height: 5em;
        width: 23%;
        /* background-color: blue;  */
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .one {
        background-image: url(./media/alvia-nnpc-shot.png);
        border-right: solid 1px #999;
    }

    .two {
        background-image: url(./media/alvia-zara-shot.png);
        border-right: solid 1px #999;
    }

    .three {
        background-image: url(./media/alvia-bruz-shot.png);
        border-right: solid 1px #999;
    }

    .four {
        background-image: url(./media/alvia-nerve.png);
    }

}

.casestudies-con {
    height: fit-content;
    width: 100%;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    margin-bottom: 1em;

    div {
        height: fit-content;
        width: 43%;
        box-shadow: 0 0 1px #3fac03;
        padding: 0 0.7em;
        margin: 2em 0;

        h2 {
            background-color: #3fac03;
            color: whitesmoke;
            width: 70%;
            padding: 7px 5px;
            margin-bottom: 1em;
        }

        p {
            margin: 1em 0;
            font-size: 15px;

            span {
                font-weight: bold;
                color: #d01100;
            }
        }

        ul {
            margin-left: 1em;

            li {
                margin-bottom: 0.5em;
                font-size: 15px;
                list-style-type: square;
            }
        }

        h3 {
            margin: 1em 0;
            color: #d01100;
        }
    }
}

.our-approach {
    height: fit-content;
    width: 100%;
    background-color: #fafafa;
    text-align: center;

    p {
        margin: 0 5em;
        line-height: 1.5em;
    }
}

.with-you {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    margin-top: 5em;

    .withyouImg {
        height: 15em;
        width: 30%;
        background-color: #00ade2;
        background: url(./media/workingwithyou.jpg);
        background-size: cover;
    }

    .withyouTxt {
        height: 15em;
        width: 60%;
        background-color: #fafafa;

        h2{
            color: #00ade2;
            font-size: 1.8em;
            margin-bottom: 0.5em;
        }
    }
}


footer{
    height: fit-content;
    width: 100%;
    margin-top: 5em;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .banner{
        height: 25em;
        width: 100%;
        /* background-color: blanchedalmond; */
        background-image: url(./media/alvia-banner-screenshot.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50%;
    }

    .address-box{
        height: fit-content;
        width: 95%;
        /* background-color: darkslategray; */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        span{
            display: block;
            height: 7em;
            width: 30%;
            /* border: solid 2px whitesmoke; */
            /* margin: 0 1em; */

            p{
                color: #fff;
                margin-bottom: 1em;
                font-size: 12px;
                
                    a{
                        color: whitesmoke;
                    }
    
            }
        }

        .span2{
            display: flex;
            justify-content: center;
            align-items: center;

            p{
                font-weight: bold;
            }
        }

        .span3{
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;

            small{
                color: whitesmoke;
            }
        }
    }
}